@using BankSystem.Models.Entities
@model IEnumerable<Client>

<form asp-action="Profile" asp-controller="User" asp-anti-forgery="true">
    <input type="submit" value="Назад">
</form>

@if (Model.Any())
{
    <table cellpadding="10" border="1">
        <caption>Список клиентов</caption>
        <tr>
            <th>Клиент</th>
        </tr>
        @foreach (var client in Model)
        {
            <tr>
                <td>
                    <p>Имя: @client.FirstName</p>
                    <p>Фамилия: @client.LastName</p>
                    <p>Отчество: @client.Patronymic</p>
                    <p>Номер телефона: @client.PhoneNumber</p>
                    <p>Серия паспорта: @client.PassportSeries</p>
                    <p>Номер паспорта: @client.PassportNumber</p>
                    <p>Идентификационный номер: @client.IdentificationNumber</p>
                </td>
                <td>
                    <form asp-action="Deposits" asp-controller="Manager" asp-anti-forgery="true">
                        <input type="hidden" name="clientId" value="@client.Id" />
                        <input type="submit" value="Вклады">
                    </form>
                    <form asp-action="Balances" asp-controller="Manager" asp-anti-forgery="true">
                        <input type="hidden" name="clientId" value="@client.Id" />
                        <input type="submit" value="Счета">
                    </form>
                    <form asp-action="Credits" asp-controller="Manager" asp-anti-forgery="true">
                        <input type="hidden" name="clientId" value="@client.Id" />
                        <input type="submit" value="Кредиты">
                    </form>
                    <form asp-action="Transfers" asp-controller="Manager" asp-anti-forgery="true">
                        <input type="hidden" name="clientId" value="@client.Id" />
                        <input type="submit" value="Переводы">
                    </form>
                    @if (client.InBlackList)
                    {
                        <form asp-action="DeleteFromBlackList" asp-controller="Manager" asp-anti-forgery="true">
                            <input type="hidden" name="clientId" value="@client.Id" />
                            <input type="submit" value="Убрать из черного списка">
                        </form>
                    }
                    else
                    {
                        <form asp-action="InsertToBlackList" asp-controller="Manager" asp-anti-forgery="true">
                            <input type="hidden" name="clientId" value="@client.Id" />
                            <input type="submit" value="Поместить в черный список">
                        </form>
                    }
                </td>
            </tr>
        }
    </table>
}
else
{
    <p>Нет зарегистрированных клиентов</p>
}
