@model BankSystem.Models.ModeratorModels.ProfileModel;

<form asp-action="Logout" asp-controller="User" asp-anti-forgery="true">
    <input type="submit" value="Выйти">
</form>

<h2>Профиль модератора</h2>
<p>Email: @Model.Email</p>
<p>Имя: @Model.FirstName</p>
<p>Фамилия: @Model.LastName</p>
<p>Отчество: @Model.Patronymic</p>
<p>Номер телефона: @Model.PhoneNumber</p>

<form asp-action="SignupApplications" asp-controller="Moderator" asp-anti-forgery="true">
    <input type="submit" value="Заявки на регистрацию">
</form>
